.containerInfoCard{
    width: 25.25em;
    height: 29.625em;
    flex-shrink: 0;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerInfoCard:hover{
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(47, 47, 47, 0.25);
}

.containerInfoCard__img{
    width: 95%;
    height: 16em;
    position: relative;
}

.containerInfoCard__img__main{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.containerInfoCard__img__difu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(41.5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfoCard__importantData{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
}

.containerInfoCard__importantData__name{
    font-family: Poppins;
}

.containerInfoCard__importantData__name h2{
    color: #7C7C7C;
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.containerInfoCard__importantData__type{
    width: 6.8125em;
    height: 1.3125em;
    flex-shrink: 0;
    border-radius: 0.625em;
    background: #F4C284;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    margin-left: 1em;
}

.containerInfoCard__importantData__type h5{
    color: #1D1D1D;
    text-align: center;
    font-size: 0.75em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

.containerInfoCard__importantData__year{
    width: 4.625em;
    height: 1.3125em;
    flex-shrink: 0;
    border-radius: 0.625em;
    background: #84B6F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInfoCard__importantData__year h5{
    color: #1D1D1D;
    text-align: center;
    font-size: 0.75em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
}

.containerInfoCard__title{
    width: 90%;
}

.containerInfoCard__title h2{
    color: #1D1D1D;
    font-size: 1.0625em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    text-align: justify;
}

.containerInfoCard__description{
    width: 90%;
    max-height: 5em;
    overflow: hidden;
}

.containerInfoCard__description p{
    color: #5B5A5A;
    text-align: justify;
    font-size: 1em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}